@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*
{
				font-family: 'Roboto Mono', monospace;

}
body 
{
				position: relative;
				width: 100%;
				min-height: 100vh;
				background: #15a1ff;
}
a
{
				position: relative;
				left: 0;
				right: 0;
				min-height: 100vh;
				text-decoration: none;
				display: flex;
				justify-content: center;
				align-items: center;
}
h1
{
				position: relative;
				right: 60px;
				color: #fff;
				
}
p
{
				position: relative;
				top: -100px;
				left: 100px;
				color: #fff;
}

 
